<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestor Financeiro</title>
</head>
<body>
    <header>
        <h1>Projeto de Gestor Financeiro</h1>

    </header>
    <main>
        <section name="revenue">

            <h2>Digite aqui suas Receitas:</h2>

        </section>

        <section name="expense">
            <h2>Digite aqui suas Despesas:</h2>

        </section>

        <section name="balance">
            <h2>Saldo:</h2>
        </section>
    </main>
    <footer>
        <p>Designed with ❤️ by Alan Leandro Domingos</p>
    </footer>
</body>
</html>