<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Gestor Financeiro</title>
</head>
<body>
    <header>
        <h1>Projeto de Gestor Financeiro</h1>
    </header>
    <main>
        <div class="container">
            <div class="section">
                <section name="revenue">

                    <h2>Digite aqui suas Receitas</h2>

                    <div class="input">
                        <label for="revenue">Receita: </label>
                        <input type="text" name="revenue" id="revenue">

                        <labe for="revenueValue">Valor: </labe>
                        <input type="number" name="revenueValue" id="revenueValue">

                        <input type="button" value="Enviar" id="sendRevenueButton">
                    </div>

                </section>
            </div>

            <div class="section">
                <section name="expense">

                    <h2>Digite aqui suas Despesas</h2>

                    <div class="input">
                        <label for="expense">Despesa: </label>
                        <input type="text" name="expense" id="expense">

                        <label for="expenseValue">Valor: </label>
                        <input type="number" name="expenseValue" id="expenseValue">

                        <input type="button" value="Enviar" id="sendExpenseButton">
                    </div>

                </section>
            </div>
        </div>

        <div class="container">
            <div class="section">
            
                <section name="revenues">

                    <h2>Receitas</h2>

                    <div class="">
                        <ul id="revenueShow">

                        </ul>
                    </div>
                    
                    <ul id="revenueSum">

                        <li id="revenueTotal"></li>

                    </ul>
                </section>

            </div>

            <div class="section">
                <section name="expenses">

                    <h2>Despesas</h2>
                    
                    <div class="expShow">
                        <ul id="expenseShow">

                        </ul>
                    </div>

                    <ul id="expenseSum">

                        <li id="expenseTotal"></li>

                    </ul>
                </section>
            </div>
        </div>

        <div class="balance">
            <section name="balance">

                <h2>Saldo</h2>

                <ul>

                    <li id ="balanceShow"></li>

                </ul>
        </section>
        </div>

    </main>
    <footer>
        <p>Designed with ❤️ by Alan Leandro Domingos</p>
    </footer>
<!-- <script src="../model/modelAlerts.mjs"></script> -->
<script type="module" src="../controller/controller.mjs"></script>
</body>
</html>